@import '../../styles//Layout.css';

.game {
	margin: 25px 0;
	height: 85%;
}

.game h1 {
	text-align: center;
	flex-basis: 5%;
}
/* --------------------- */

.game .game-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	height: 400px;
	margin: 30px auto;
}

.game .game-menu > div, .game .game-box > ul {
	background-color: #1C2236;
	height: 100%;
	border-radius: 10px;
	padding: 10px;
	flex-basis: 32%;
	overflow: hidden;
}

.matchmaking, .bootmatch {
	transition: 0.3s ease;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px;
}

.matchmaking:hover, .bootmatch:hover {
	transform: scale(1.05);
}

.matchmaking img, .bootmatch img {
	max-width: 100%;
	max-height: 80%;
}

.matchmaking h2, .bootmatch h2 {
	padding: 10px 0;
	text-align: center;
	background-color: #262f4a;
	border-radius: 5px;
}

.bootmatch img {
	max-height: 100%;
}

.game .game-menu .preference {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.preference h2 {
	text-align: center;
}

.preference .game-setting {
	display: flex;
	justify-content: space-between;
}

.game-setting input {
	flex-basis: 40%;
}

/* --------------------- */

.game .game-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 300px;
	margin: 30px 0;
}

.game .game-box .game-invite {
	flex-basis: 25%;
}

.game .game-box .game-invite {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow: auto;
}

.game .game-box .game-invite li {
	display: flex;
	align-items: center;
	gap: 30px;
	background-color: #262f4a;
	border-radius: 5px;
	padding: 10px;
}

.game-invite li img {
	width: 60px;
	border-radius: 50%;
}

.game-invite li h2 {
	flex-basis: 60%;
}

.game-invite li button {
	padding: 10px 20px;
	color: #FFF;
	background-color: #107EA2;
	border: none;
	border-radius: 5px;
}

.game .game-box .leaderboard {
	flex-basis: 45%;
}

.leaderboard li {
	display: flex;
	align-items: center;
	gap: 30px;
	background-color: #262f4a;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.leaderboard li img {
	width: 50px;
	border-radius: 50%;
}

.leaderboard li h3 {
	flex-basis: 40%;
}

.leaderboard li span {
	margin: 0 30px;
	line-height: 0;
	font-weight: bold;
	position: relative;
}

.leaderboard li span::before {
	content: 'Score';
	position: absolute;
	bottom: -20px;
	left: -15px;
	color: #CCC;
	font-weight: normal;
}

.game .game-box .live-games {
	flex-basis: 25%;
}

