.friends > h1 {
	margin-bottom: 40px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.gallery li {
	flex-basis: calc(20% - 50px);
	height: 280px;
	text-align: center;
	padding: 30px;
}

.friend-card {
	background-color: #262f4a;
	border-radius: 10px;
}

.friend-card img {
	width: 100px;
	border-radius: 50%;
}

.friend-card h3 {
	margin: 10px 0;
	font-size: 1.4rem;
}

.friend-card div {
	display: flex;
	gap: 10px;
	font-size: 0.8rem;
}

.friend-card button {
	margin: 20px 0;
	padding: 10px 10px;
	border-radius: 5px;
	background-color: #107EA2;
	color: #FFF;
	border: none;
	font-size: 0.8rem;
}
