ul {
	list-style: none;
}

.history ul li {
	flex-basis: 20%;
	font-size: 1.3rem;
}

.table {
	margin: 40px 0;
}

.table ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.table-header {
	margin: 20px 0;
	color: #BBB;
	font-weight: bold;
}

.match {
	margin: 40px 0;
}

.match li:last-child {
	text-align: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

.r-lose, .r-win {
	border-radius: 5px;
	padding: 2px 40px;
	width: 130px;
}

.r-win {
	background-color: #0B6623;
}

.r-lose {
	background-color: #801818;
}
